<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDm0CG3U2SHvi3V5GWSaQbfQR9SO-9s7J8</string>
	<key>GCM_SENDER_ID</key>
	<string>63218994003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTodoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-app-14b85</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-app-14b85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63218994003:ios:3e5191c98ec286ee896fa6</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-todo-app-14b85-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>